

html, body{
	width: 100%;
	height:100%;}

.movie
	{
	background-color: black !important;
	}

#bostonbackground{
	height:100%;
	width:100%;
	background-image: url(https://s3-us-west-2.amazonaws.com/dgmdproject/Boston_background.png);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
	}

	#bostonbackground2{
	height:100%;
	width:100%;
	background-image: url(https://s3-us-west-2.amazonaws.com/dgmdproject/boston_background2.png);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
	}



.body {
	background-color:#F5F4F0
}

#iphone1 {
width:80%;
height:100%;
margin:auto;
position:relative;
}


#invisible{
	width:5%;
	height:10%;
	top:38%;
	right:59%;
	position:absolute;
	z-index:1000;
}

#cursor{
	width:30%;
	height:70%;
	top:35%;
	right:40%;
	position:absolute;
	z-index:500;
	cursor: pointer;

}

#iphone2 {
width:100%;
height:100%;
margin:auto;}
img {width:80%;
height:100%;margin:auto;}

#illichlink {
	width:45%;
	height:13%;
	top:84%;
	right:32%;
	position:absolute;
	z-index:1000;
}


#closedbook{
width:80%;
height: 100%;
margin:auto;
position:absolute;
z-index:1000;}

#geardiv{
	width:40%;
	height:50%;
	left:80%;
	top: 50%;
	position:absolute;
	margin-bottom: 20%;
	z-index:1000;}

	.dedbackground{
	height:100%;
	width:100%;
	background-image: url(https://s3-us-west-2.amazonaws.com/dgmdproject/background_ded_3.png);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
	}

#gear2{
	width:30%;
	height:40%;
	left:80%;
	top: 50%;
	margin-bottom: 20%;
	position:absolute;
	z-index:1000;}


#deddiv
	{width:80%; 
	height:100%;
	top:10%;
	left:5%;
	margin:0;
	padding:0;
	position:absolute;
	z-index:1000;}

.storyhtml{
	background-image: url(https://s3-us-west-2.amazonaws.com/dgmdproject/background_sky_2.png);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center

}


#tunnelhtml{
	background-image: url(https://s3-us-west-2.amazonaws.com/dgmdproject/Tunnel_pics/i93_3.JPG);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center

}

.storyimage {
width:70%;
height: 100%;
margin:auto;
margin-bottom: 20%;
margin-left:20%;
z-index:1;
border-radius:50%;
/*position:absolute;
*/}

.simg {
width:80%;
height: 100%;
margin:auto;
border-radius:100%;
box-shadow: 0px 0px 2px 2px white;
cursor: pointer;
}

.tunnelimage {
width:70%;
height: 100%;
margin:auto;
margin-bottom: 20%;
margin-left:20%;
z-index:1;}

.timg {
width:80%;
height: 100%;
margin:auto;
}


.gearbutton{
	width:40%;
	height:50%;
	position:fixed;
	right:-100;
	bottom:-200;
	margin-bottom: 20%;
	z-index:2;}

#industexpectations
	{width:60%;
	height:60%;
	left:55%;
	top:1%;
	position:absolute;
	margin-bottom:20%;
	z-index:6;	
	display:none;}

	#selfreliencequote
	{width:60%;
	height:60%;
	left:0%;
	top:100%;
	position:absolute;
	margin-bottom:20%;
	z-index:6;	
	display:none;}

	#spoonfedquote
	{width:80%;
	height:80%;
	left:55%;
	top:110%;
	position:absolute;
	margin-bottom:20%;
	z-index:6;	
	display:none;}

#clientrel{
	width:80%;
	height:80%;
	left:55%;
	top:250%;
	position:absolute;
	margin-bottom:20%;
	z-index:6;	
	display:none;}

#deschoolinginstitutions{
	width:80%;
	height:80%;
	left:70%;
	top:470%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

#creatingdemand{
	width:80%;
	height:80%;
	left:75%;
	top:390%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#rankingquote{width:80%;
	height:80%;
	left:-1%;
	top:380%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#geesequote
	{width:80%;
	height:80%;
	left:-15%;
	top:540%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#machineexpectations{
	width:80%;
	height:80%;
	left:70%;
	top:540%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#monopolizingquote
	{width:80%;
	height:80%;
	left:5%;
	top:1150%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#timelanguagequote
	{width:80%;
	height:80%;
	left:50%;
	top:700%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#qualityquote
	{width:80%;
	height:80%;
	left:50%;
	top:810%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#toseeistoforget
	{width:80%;
	height:80%;
	left:50%;
	top:950%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	
	#tunnelbubble1{
	width:70%;
	height:100%;
	border-radius:2%;
	left:60%;
	top:1250%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}

	#tunnelbubble2{
	width:90%;
	height:120%;
	border-radius:2%;
	left:70%;
	top:1330%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}
	

	#losthours{
	width:80%;
	height:80%;
	left:70%;
	top:1450%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}

	#feynmanquote
	{width:80%;
	height:80%;
	left:70%;
	top:1700%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}
	
#lyingbubble1{
	width:80%;
	height:80%;
	left:30%;
	top:1550%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}

	#aimlessquote{
		width:80%;
	height:80%;
	left:60%;
	top:1610%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}



#bikeillich1{
	width:80%;
	height:80%;
	left:50%;
	top:1820%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}


#bikeillich2{	
	width:80%;
	height:80%;
	left:60%;
	top:1900%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}

#childhoodquote
	{width:100%;
	height:100%;
	left:-5%;
	top:2000%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}


	#zammrigid{
	width:80%;
	height:80%;
	left:80%;
	top:2400%;
	position:absolute;
	margin-bottom: 20%;
	z-index:7;
	display:none}


	#counterfoil
	{width:80%;
	height:80%;
	left:50%;
	top:2160%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}


	#fearquote
	{width:40%;
	height:50%;
	left:0%;
	top:2130%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}


	#candlequote
	{width:80%;
	height:80%;
	left:75%;
	top:2280%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none}

	#handtool
	{width:80%;
	height:80%;
	left:50%;
	top:2520%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display: none;}

	#convivialtoolquote
	{width:80%;
	height:80%;
	left:50%;
	top:2600%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display: none;}

	#brico
	{width:80%;
	height:80%;
	left:55%;
	top:2680%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}

	#transcendance
	{width:80%;
	height:80%;
	left:60%;
	top:2850%;
	position:absolute;
	margin-bottom: 20%;
	z-index:6;
	display:none;}


	
	#whatareyouthinkinghtml{
	height:40%;
	width:100%;
	background-image: url(https://s3-us-west-2.amazonaws.com/dgmdproject/Airplane/airplane1.png);
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center}


   #drivenbybeauty
   {width:50%;
	height:50%;
	left:50%;
	position:absolute;
	margin-bottom: 20%;
	z-index:7}


#secularprayer{
   	width:30%;
	height:40%;
	left:75%;
	top:25%;
	position:fixed;
	margin-bottom: 40%;
	margin-top: 20%;
	z-index:7}

#email{ text-decoration: none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	position:fixed ;
	font-size:30px;
	top:400px;
	left:250px;}

